<h1>Movies</h1>

<table>
  <colgroup span="3" class="columns"></colgroup>
  <tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>

  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.rank %> DUN DUN DUN</td>
      <td><%= movie.name %></td>
      <td>UPVOTE LINKS</td>
    </tr>
    <% end %>

</table>

<%= link_to "All Media", home_path %>
<%= link_to "Add Movie", new_movie_path %>
