<h2>Add a Movie</h2>

<%= form_for @movie, class: "form-horizontal center" do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
    <%= f.hidden_field :rank, value: 0 %>
    <div class="span7 text-center">
      <%= f.submit "Add Movie", class: "btn btn-default" %>
    </div>
<% end %>
