<div class="left">
  <h1>Top Movies</h1>
  <%= link_to "View More Movies", movies_path %>
</div>

<div class="middle">
  <h1>Top Books</h1>
  <%= link_to "View More Books", books_path %>
</div>

<div class="right">
  <h1>Top Albums</h1>
  <%= link_to "View More Albums", albums_path %>
</div>
